*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.15rem;
}
h1{
    font-size: 2rem;
}
body {
    background: rgba(207, 207, 242, 0.689);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
}
#header {
    flex: 0 0 auto;
    width: 100%;
    padding: 1rem;
    margin: 0rem 1rem 1rem 0rem;
    background-color: aliceblue;
}
#title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    color: cadetblue;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    color: aliceblue;
    flex: 0 0 auto;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0rem 0rem 0rem;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
}
#books-container {
    display: grid;
    display: none;
    height: 80%;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    width: 90%;
    margin: 1rem;
    justify-content: center;
    align-content: center;
  }
  
.book {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    background-color: cadetblue;
    color: aliceblue;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
      
  }
.titleElement {
    margin-top: 0.5rem;
}
.book-btn {
    padding: 0.25rem;
    width: 10rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: aliceblue;
    color: cadetblue;
    font-weight: 550;
    font-size: 15px;
    transition: background-color 0.9s ease;
    cursor: pointer;
}
.book-btn:hover {
    background: rgba(207, 207, 242, 0.689);
    color: aliceblue;
}
#add-book-btn {
    padding: 0.25rem;
    margin: 1rem;
    width: 10rem;
    height: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: aliceblue;
    color: cadetblue;
    font-weight: 550;
    font-size: 15px;
    transition: background-color 0.9s ease;
    cursor: pointer;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#add-book-btn:hover {
    background: cadetblue;
    color: aliceblue;
}
#submit-btn {
    padding: 0.25rem;
    width: 10rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: aliceblue;
    color: cadetblue;
    font-weight: 550;
    font-size: 15px;
    transition: background-color 0.9s ease;
    cursor: pointer;
}
#submit-btn:hover {
    background: cadetblue;
    color: aliceblue;
}
#close-form-btn {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    background-color:  cadetblue;
    color: aliceblue;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.9s ease;
    padding: 0.25rem;
    text-align: center;
    margin: 0.5rem 0.5rem 1rem 1rem;
    align-self: flex-end;
    font-weight: 550;
    font-size: 15px;
    border: none;
    position: absolute;
    top: 0.1px;
    right: 1px;
}
#close-form-btn:hover {
    background: aliceblue;
    color: cadetblue;
}
#my-form {
    display: none;
    padding: 0.2rem;
    background-color: rgb(200, 226, 226);
    width: 50%;
    margin: 1rem auto;
    border-radius: 15px;
    color: cadetblue;
    font-weight: 600;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    text-align: center;
}
input {
    margin-bottom: 1rem;
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
    border: none;
  }
#form-label {
    margin: 15px 5px 0px 0px;
}
@media only screen and (max-width: 600px){
    #add-book-btn {
        position: fixed;
        top: 17%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    #my-form {
        width: 90%;
    }
    #container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}
